<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>对话</title>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/showdown.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
    <div id="myApp">
        <div style="width: 1000px; height: 500px; border: 1px solid red; overflow-y: scroll;">
            <div v-for="x in AllMessage">
                <div v-if="x.user === 'user'" style="text-align: right;">
                    <div v-html="x.message"></div>
                </div>
                <div v-if="x.user === 'ai'" style="text-align: left;">
                    <div v-html="x.message"></div>
                </div>
            </div>
        </div>
        <input type="text" placeholder="请输入您的消息" v-model="message">
        <el-button type="primary" @click="sendMessage">发送</el-button>
    </div>
</body>
<script>
    new Vue({
        el: '#myApp',
        data: {
            message: '',
            AllMessage: [],
            loading: false,
            cc: null // 格式化消息的对象
        },
        mounted() {
            this.cc = new showdown.Converter({
                simpleLine: true,
            });
        },
        methods: {
            sendMessage() {
                const self = this;
                self.loading = true;
                const userMessage = {
                    "user": "user",
                    "message": this.message
                }
                self.AllMessage.push(userMessage);
                $.ajax({
                    url: '/sendMessage/',
                    type: 'GET',
                    data: {
                        message: this.message
                    },
                    success: function(response) {
                        if (response.code == 200) {
                            console.log("Response:", response);
                            self.loading = false;
                            const botMessage = {
                                "user": "ai",
                                "message": self.cc.makeHtml(response.msg)
                            }
                            self.AllMessage.push(botMessage);
                        } else {
                            console.log("Response:", response);
                            self.loading = false;
                            alert(response.msg);
                        }
                    },
                })
            }
        }
    });
</script>
</html>